@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://mystorage202012030014.blob.core.windows.net/post-images/d712dec9-53ff-4968-9f95-5fb8d829d9c0"/ height="32px">
</div>
